/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 128, 0, 0.5);
}

li {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(../imagenes/IHVGDBHF25BVFIQ25IE4CAAGX4.jpg);
	height: 50px;
}
.texto {
	color: black;
	text-decoration-line: none;
	background-color: rgba(0, 128, 0, 0.226);
}
